{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Latest answered questions</h1>
    {% for question in questions_completed %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{question.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{question.author}} - {{question.date_asked}}</h6>
            <p class="card-text">{{question.description}}</p>
            <a href="{{question.lmgtfy}}" class="card-link">LMGTFY</a>
          </div>
        </div>
    <br>
    {% endfor %}
</div>


<div class="container">
    <h1>Ask a question</h1>
    <form method="post" action="{% url 'questions:pending_questions' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit_question' type="submit">Add question</button>
    </form>
</div>

<div class="container">
    <h1>Pending questions</h1>
    {% for question in questions_pending %}
        <div class="row">
            <div class="col-sm">
            {{question.author.avatar}}
            </div>
            <div class="col-sm">
            {{question.date_asked}}
            </div>
            <div class="col-sm">
            {{question.title}}
            </div>
            <div class="col-sm">
            {{question.description}}
            </div>

        </div>
    <br>
    {% endfor %}
</div>


{% endblock %}