{% extends 'questions/base.html' %}

{% block content%}
<legend class="">
    <h2>These questions have already been answered.</h2>
    <p>Check whether one of them answers your question.</p>
</legend>

        {% for question in questions %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'users:profile' %}">{{ question.author }}</a>
                  <small class="text-muted">{{ question.date_asked|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ question.title }}</a></h2>
                <p class="article-content">{{ question.replier }}</p>
                  <small class="text-muted">{{ question.date_answered|date:"F d, Y" }}</small>
              </div>
            </article>
        {% endfor %}

{% endblock%}